<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>key的使用</title>
    <script src="./vuejs/vue.min.js"></script>
</head>

<body>
    <div id="add">
        id:<input type="text" v-model='id'> name:
        <input type="text" v-model='name'>
        <input type="button" value="添加" @click='add'>
        <p v-for="item in list" v-bind:key="item.id">
            <input type="checkbox" name="" id="">id:{{item.id}}---name:{{item.name}}
        </p>
    </div>

</body>
<script>
    var vm = new Vue({
        el: '#add',
        data: {
            id: '',
            name: '',
            list: [{
                id: 1,
                name: '嬴政'
            }, {
                id: 2,
                name: '刘邦'
            }, {
                id: 3,
                name: '项羽'
            }, {
                id: 4,
                name: '弄玉'
            }, {
                id: 5,
                name: '荆轲'
            }]
        },
        methods: {
            add() {
                this.list.unshift({
                    id: this.id,
                    name: this.name
                })
            }
        },
    })
</script>

</html>