<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简单计算器</title>
    <script src="./vuejs/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model='n1'>
        <select v-model='opt'>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model='n2'>
        <input type="button" value="=" @click='jieguo'>
        <input type="text" v-model='res'>

    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            n1: 0,
            n2: 0,
            opt: '+',
            res: 0,

        },
        methods: {
            jieguo() {
                switch (this.opt) {
                    case '+':
                        this.res = parseInt(this.n1) + parseInt(this.n2);
                        break;
                    case '-':
                        this.res = parseInt(this.n1) - parseInt(this.n2);
                        break;
                    case '*':
                        this.res = parseInt(this.n1) * parseInt(this.n2);
                        break;
                    case '/':
                        this.res = parseInt(this.n1) / parseInt(this.n2);
                        break;
                }

            }
        }
    });
</script>

</html>